html,body {
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-size: cover;
	min-height: 100%;
    height:auto !important; 
    height: 100%;
	min-width: 320px;
	
}

/* <----------------------------------Headers ------------------------->*/
header {
	background:#BDB6B6;
	height: 40px;
	background-size: cover;
	opacity: 0.5;
	margin-top: -10px;
}

.header-container {
	background:#383737;
	height: 40px;
	background-size: cover;
	opacity: 0.5;
	margin-top: -10px;
}

/*<-----------------------------END----------------------->*/


/*<-----------------------------Navigations(Header,Container,Footer) + button----------------------->*/

.navigation-top li,.navigation-container li,.navigation-footer li {
	float: left;
	padding:10px;
	list-style-type: none;
	opacity: 1;
	text-transform: uppercase;

}

.navigation-top li:last-child,.navigation-container li:last-child,.navigation-footer li:last-child{
	float: right;
	margin-right: 30px;
	color: #FFFFFF;
}

.navigation-top li:hover,.navigation-container li:hover,.navigation-footer li:hover{
	background-color: #EAE7E7;

}
.navigation-top a, .navigation-container a,.navigation-footer a {
	color: #FFFFFF;
}

ul li a:hover, ul li a:focus {
	text-decoration: none;
	color: #FFFFFF;
}

button {
	border-radius: 3px;
	text-transform: uppercase;
	border: 2px solid orange;
	background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color:#777094;
    border-width: 3px; border-style: solid;
}

#button {
	padding-top: 20px;
}

#button a:hover {
	color: #B2A9A9;
}

button a,ul li a {
	text-decoration: none;
	color: #767373;
}


/*<-----------------------------END----------------------->*/

/*<----------------Containters, Rows, Columns----------->*/

.container-fluid {
	margin: 50px 50px 0 50px;
	padding: 0;
	background-image: url("../images/background-container.jpg");
	overflow:hidden;
	border-radius: 10px;
	  min-height: 100%;
    height:auto !important; 
    height: 100%;
}

.row {
	margin: 150px 10px 0 10px;
	color: #777094;
	font-family: 'Josefin Sans', sans-serif;
}

#centralcolumn {
	margin-top: -70px;
	padding-top: 30px;
}
.col-lg-4 {
	padding-bottom: 100px;
}

.col-lg-4 img {
	height: 50px;
	opacity: 0.5;
}
/*<----------------END----------->*/

/*<------------TEXT------------->*/

#maintext {
	padding-top: 100px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}

#maintextxs {
	padding-top: 100px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

#maintext span,#maintextxs span {
	color: #D1533A;
}

.row p,h3,#maintext,#maintextxs {
	color: #BABABA;
}

/*<----------------END----------->*/

/*<--------------FOOTER------------->*/


footer {
	background:#BDB6B6;
	height: 35px;
	background-size: cover;
	opacity: 0.3;
	font-size: 10px;
	margin-bottom: -10px;
}

/*<----------------END----------->*/



/*<----------------MEDIA(ADAPTIVE MOBILE)----------->*/

@media screen and (max-width: 550px) {
	li {
		font-size: 10px;
	}
	.hidden360 {
		visibility: hidden;
	}
}

/*<----------------END----------->*/