body {
	margin: 0;
	width: 1366px;
	height: 768px;
}


#topheader {
	background-color: black;
	height: 40px;
	width: 100%;
	float: left;
	margin: 0 auto;
	overflow: hidden;
	min-width: 1280px;
}

#logo {
	float: left;
	margin: 0 auto;
}

#logo img {
	padding: 7px 15px 10px 55px;
	border-right: 1px solid #494949;
	height: 100%;
}

#sign {
	height: 100%;
	padding-right: 80px;
	border-right: 1px solid #494949;
	float: left;
}

#sign:hover,#sign:focus {
	border-bottom: 3px solid  #3382ED;
}


#sign p {
	color: #FFFFFF;
	float: left;
	margin: 0;
	padding-top: 11px;
	font-weight: bold;
	font-size: 13px;
	font-family: arial, verdana, helvetica;
}

#sign img {
	padding: 9px 6px 3px 15px;
	float: left;
}

#menu {
	float: left;
}

#news,#sport,#weather,#culture,#shop,#earth,#travel,#capital,#more {
	color: #FFFFFF;
	float: left; 	
	height: 40px;
	padding: 0px 20px 0 20px;
	border-right: 1px solid #494949;
	font-weight: bold;
	font-size: 13px;
	font-family: arial, verdana, helvetica;
}

#more {
	padding-right: 75px;
}

#news:focus,#news:hover {
	border-bottom: 4px solid  #AF0101;
	height: 36px;
}

#sport:focus,#sport:hover {
	border-bottom: 4px solid  #E4DD23;
	height: 36px;
}

#weather:focus,#weather:hover {
	border-bottom: 4px solid  #60E3F6;
	height: 36px;
}

#shop:focus,#shop:hover {
	border-bottom: 4px solid  #369EDF;
	height: 36px;
}

#earth:focus,#earth:hover {
	border-bottom: 4px solid  #FFFFFF;
	height: 36px;
}

#travel:focus,#travel:hover {
	border-bottom: 4px solid  #FFFFFF;
	height: 36px;
}

#capital:focus,#capital:hover {
	border-bottom: 4px solid  #0C15D3;
	height: 36px;
}

#culture:focus,#culture:hover {
	border-bottom: 4px solid  #FFFFFF;
	height: 36px;
}

#culture:focus,#culture:hover {
border-bottom: 4px solid  #FFFFFF;
height: 36px;
}

#search {
	margin-top: 8px;
	margin-left: 20px;
	width: 180px;
	height:25px;
	font-family: arial,verdana,helvetica;
	font-weight: bold;
}


.contentgrey {
	background-color: #F1F1F1;
	width: 100%;
	height: 30.3em;
	}

#calendar {
	margin: 0;
	float: right;
	padding: 30px 80px;
	margin-right: 15px;
	font-size: 20px;
	font-family: arial,verdana,helvetica;
	color: #5C5C5C;
}

#welcome {
	margin: 0;
	float: left;
	padding: 30px 60px 0 55px;
	font-size: 20px;
	font-family: arial,verdana,helvetica;
	color: #5C5C5C;
}

#headline {
	float: left;
	margin: 10px 0 0 55px;
	width: 45%;
	z-index: 2;
}

#lefttop {
	float: left ;
	margin: -20px 300px 0 20px;
	width: 21%;
}

#righttop {
	float: left;
	margin: -162px 70px 15px 320px;
	width: 21%;
}

#mainnews {
	color: #DCDCDC;
	margin: 0;
	text-decoration: none;
	position: relative;
	top: 290px;
	right: 240px;
	font-size: 30px;
	font-family: arial,helvetica,verdana;
}

#mainnewslit {
	color: #DCDCDC;
	margin: 0;
	text-decoration: none;
	position: relative;
	top: 290px;
	right: 237px;
	font-size: 14px;
	font-family: arial,helvetica,verdana;
	text-align: justify;
}



/*------------------------------------MEDIA SCREEN CSS -----------------------------------------------*/


@media screen and (max-width: 1297px) {
	#more {
		visibility:hidden;
	}
	#search {
		margin-left: -110px;
	}	
	#lefttop, #righttop {
		width: 20%;
	}
	#calendar {
		margin-right: 70px;
		font-size: 19px;
	}	
	#headline {
		width: 43%;
	}
	#righttop {
		margin: -153px 0 0 305px;
	}
}
@media screen and (max-width: 1220px){
	#search {
		margin-left: -200px;
	}
	#culture {
		visibility: hidden;
	}
	#lefttop, #righttop {
		width: 19%;
	}

	#righttop {
		margin: -146px 0 0 285px;
	}

	#headline {
		width: 42%;
	}
	#calendar {
		margin-right: 115px;
		font-size: 19px;
	}

	#welcome {
		font-size: 19px;
	}
	#mainnews {
		font-size: 26px;
		top: 290px;
		left: -230px;
	}
	#mainnewslit{
		font-size: 13px;
		margin: 0;
		top: 290px;
		left: -226px;
	}
}

@media screen and (max-width: 1150px){
	#search {
		margin-left: -285px;
	}
	#capital {
		visibility: hidden;
	}
	#lefttop, #righttop {
		width: 17%;
	}

	#righttop {
		margin: -130px 0 0 260px;
	}

	#headline {
		width: 35%;
	}
	#calendar {
		margin-right: 260px;
		font-size: 18px;
	}
	#welcome {
		font-size: 19px;
	}
	#sign {
		padding-right: 40px;
	}
	#mainnews {
		font-size: 24px;
		margin: 0;
		top: 250px;
		left: -230px;
	}
	#mainnewslit{
		font-size: 12px;
		margin: 0;
		top: 250px;
		left: -227px;
	}
}


@media screen and (max-width: 1030px){
	#search {
		margin-left: -365px;
	}
	#travel {
		visibility: hidden;
	}
	#headline {
		width:70%;
		z-index: 3;
	}
	#calendar {
		margin-right: 280px;
	}

	#lefttop {
		visibility: hidden;
	}
	#righttop {
		visibility: hidden;
	}
	.contentgrey {
		height: 45em;
		width: 100%;	}
	body {
		overflow-x: hidden;
	}
	#mainnews {
		font-size: 36px;
		top: 450px;
		left: -200px;
	}
	#mainnewslit{
		visibility: hidden;
	}
}

@media screen and (max-width: 913px){
	#search {
		visibility: hidden;
	}
	#travel {
		visibility: visible;
	}
}

@media screen and (max-width: 800px) {
	#sign {
	padding-right:20px; 
    }    
}


@media screen and (max-width: 738px){
	#shop {
		visibility: hidden;
	}
	#earth {
		visibility: hidden;
	}
	#search {
		visibility: visible;
		margin-left: -515px;
	}
	#travel{
		visibility: hidden;
	}
}

@media screen and (max-width: 710px){
	#sign p {
		visibility: hidden;
	}
	#sign {
		padding-right: 0px;
		width: 4%;
	}
}
@media screen and (max-width: 710px){
	#weather {
		visibility: hidden;
	}
	#search {
	margin-left: -610px;
}

@media screen and (max-width: 550px){
	#search {
		visibility: hidden;
	}
	#sign p {
		visibility: visible;
	}
	#sign {
		width: 8%;
	}
	#logo {
		margin-left: -25px;
	}
	#weather {
		visibility: visible;
	}
}

@media screen and (max-width: 476px){
	#weather {
		visibility: hidden;
	}
}
@media screen and (max-width: 400px){
	#sign p {
		visibility: hidden;
	}
	#sign {
		width: 4%;
	}
}